version: '3'

volumes:
  mysql:
    driver: local
  fedora:
    driver: local

services:
  mysql:
    restart: always
    image: mysql:5.7
    env_file: .env_fedora
    command: --init-file /data/application/init.sql
    volumes:
      - mysql:/var/lib/mysql
      - ./init.sql:/data/application/init.sql
    ports:
      - "3306:3306"

  fedora:
    restart: always
    image: pcharoen/fedora:3.1
    env_file:
      - .env_fedora
    depends_on: 
      - mysql
    command: bin/wait-for-it.sh -t 0 mysql:3306 -- tomcat/bin/catalina.sh run
    volumes:
      - fedora:/home/fedora-3.1
      - ./data:/home/fedora-3.1/data
      - ./wait-for-it.sh:/home/fedora-3.1/bin/wait-for-it.sh
    ports:
      - "8080:8080"
      - "61616:61616"
